.CharactersContainer {
  display: flex;
  margin-top: 200px;
  padding: 30px;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  background-color: #151515;
}

.button {
  color: #aaa;
  border: 1px solid rgb(187, 37, 37);
  background-color: transparent;
  font-size: 4rem;
  display: block;
  cursor: pointer;
}