.footer {
  margin-top: 70px;
  display: flex;
  width: 100%;
  place-items: center;
  background-color: black;
  padding: 20px;
  color: white;
  background-position: center top;
  background-repeat: no-repeat;
  position: absolute;
}